.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #000000;
  color: white;
}

input {
  width: 80%;
  padding: 1rem;
}

.block {
  font-size: larger;
  margin: 1rem;
}
